{% extends 'league/base.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Welcome to the Table Soccer League!" %}</h1>
    <h2>{% trans "Previous Match Day" %} ({{ previous_match_day.date }})</h2>
    {% if previous_match_day %}
        <ul>
            {% for match in previous_match_day.matches.all %}
                <li>
                    <a class="text-blue-500 hover:underline"
                       href="{% url 'match_detail' match.pk %}">{{ match.home_team }} vs {{ match.away_team }}</a>
                    <br>
                    <p>{% trans "Score" %}: {{ match.home_score }} - {{ match.away_score }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No previous match day found." %}</p>
    {% endif %}
    <h2>{% trans "Next Match Day" %} ({{ next_match_day.date }})</h2>
    {% if next_match_day %}
        <ul>
            {% for match in next_match_day.matches.all %}
                <li>
                    <p>{{ match.home_team }} vs {{ match.away_team }}</p>
                    <p>{% trans "Status" %}: {{ match.status }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No upcoming match day found." %}</p>
    {% endif %}
{% endblock %}
