{% extends 'league/base.html' %}
{% block content %}
    <h1>{{ match.home_team.name }} vs {{ match.away_team.name }}</h1>
    <p>
        <strong>Date:</strong> {{ match.date }}
    </p>
    <p>
        <strong>Venue:</strong> {{ match.home_team.venue }}
    </p>
    <p>
        <strong>Status:</strong> {{ match.status }}
    </p>
    <p>
        <strong>Overall Score:</strong> {{ match.home_score }} - {{ match.away_score }}
    </p>
    <h3>Segments</h3>
    <ul>
        {% for segment in match.segments.all %}
            <li>
                <h4>{{ segment.get_segment_type_display }}:</h4>
                <p>Score: {{ segment.home_score }} - {{ segment.away_score }}</p>
                <h5>Home Players:</h5>
                <ul>
                {% if segment.home_players.all %}
                    {% for player in segment.home_players.all %}
                        <li class="dark:text-white">{{ player }}</li>
                    {% endfor %}
                {% else %}
                    <li class="dark:text-white">No players assigned.</li>
                {% endif %}
                </ul>
                
                <h5>Away Players:</h5>
                <ul>
                {% if segment.away_players.all %}
                    {% for player in segment.away_players.all %}
                        <li class="dark:text-white">{{ player }}</li>
                    {% endfor %}
                {% else %}
                    <li class="dark:text-white">No players assigned.</li>
                {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a class="dark:text-white" href="{% url 'submit_lineup' match.id %}">Submit Lineup</a>
    <a class="dark:text-white" href="{% url 'submit_score' match.id %}">Submit Score</a>
{% endblock %}
