{% extends 'league/base.html' %}
{% block content %}
    <h2>Submit Scores for {{ match.home_team }} vs {{ match.away_team }} on {{ match.date }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="match-form">
            <ul class="segment-list">
                {% for form in formset %}
                    <li class="segment-item">
                        <h4>{{ form.instance.get_segment_type_display }} {{ form.id }}</h4>
                        {% if form.non_field_errors %}
                            <ul class="errorlist">
                                {% for error in form.non_field_errors %}<li class="text-red-500">{{ error }}</li>{% endfor %}
                            </ul>
                        {% endif %}
                        <div class="segment-score">
                            <label>Home Team Score</label>
                            {{ form.home_score }}
                        </div>
                        <div class="segment-score">
                            <label>Away Team Score</label>
                            {{ form.away_score }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <button type="submit" class="submit-button">Submit Scores</button>
    </form>
{% endblock %}
