{% extends 'league/base.html' %}
{% block content %}
    <h2>{{ team.name }}</h2>
    {% if team.venue %}
        <h3>Venue</h3>
        <p>{{ team.venue.name }}</p>
        <p>{{ team.venue.city }}</p>
        <p>{{ team.venue.address }}</p>
    {% endif %}
    <h3>Squad</h3>
    <ul>
        {% for season_team in season_teams %}
            <li>
                <h4>{{ season_team.season }}</h4>
                <p>Team members:</p>
                <ul>
                    {% for player in season_team.players.all %}
                        <li>
                            <p>{{ player }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    {% if matches.exists %}
        <h3>Schedule</h3>
        {% for match in matches %}
            <ul>
                <li>
                    <span class="dark:text-white">{{ match.match_day }} ({{ match.date }}):</span> <a class="text-blue-500 hover:underline"
    href="{% url 'match_detail' match.id %}">
                        {% if match.home_team == team %}
                            <strong>{{ match.home_team }}</strong>
                        {% else %}
                            {{ match.home_team }}
                        {% endif %}
                        vs
                        {% if match.away_team == team %}
                            <strong>{{ match.away_team }}</strong>
                        {% else %}
                            {{ match.away_team }}
                        {% endif %}
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p>No matches scheduled for this team.</p>
    {% endif %}
{% endblock %}
