{% load static tailwind_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
    <head>
        <title>
            {% block title %}Django Tailwind{% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        <script>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      )
        </script>
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css">
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="bg-gray-300 dark:bg-gray-700 mb-4 font-serif leading-normal tracking-normal min-h-screen flex flex-col">
        {% include "includes/header.html" %}
        {% block body %}{% endblock %}
        {% include "includes/footer.html" %}
    </body>
</html>
